.border-1px {
  position: relative;
}
.border-1px::before {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  content: '';
  border: 1px solid #3388FF;
  transform: scale(0.5);
  transform-origin: 0 0;
}
.border-1px-t {
  position: relative;
}
.border-1px-t::before {
  position: absolute;
  height: 1px;
  right: 0;
  left: 0;
  top: 0;
  content: '';
  border-top: 1px solid #C7C7C7;
  transform: scaleY(0.5);
  transform-origin: 0 100%;
}
.border-1px-b {
  position: relative;
}
.border-1px-b::before {
  position: absolute;
  height: 1px;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  border-bottom: 1px solid #C7C7C7;
  transform: scaleY(0.5);
  transform-origin: 0 100%;
}
.border-1px-l {
  position: relative;
}
.border-1px-l::before {
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  bottom: 0;
  content: '';
  border-left: 1px solid #3388FF;
  transform: scaleX(0.5);
  transform-origin: 100% 0;
}
.border-1px-r {
  position: relative;
}
.border-1px-r::before {
  position: absolute;
  width: 1px;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  border-left: 1px solid #C7C7C7;
  transform: scaleX(0.5);
  transform-origin: 100% 0;
}
.xh-btn {
  position: relative;
  border: none;
  outline: none;
  padding: 0.2rem 0.24rem;
  color: #000;
  font-size: 0.24rem;
  background-color: #fff;
}
.xh-btn::before {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  content: '';
  border: 1px solid #3388FF;
  transform: scale(0.5);
  transform-origin: 0 0;
}
.xh-btn::before {
  border-radius: 0.12rem;
}
.triangle-close {
  display: flex;
  align-items: center;
}
.triangle-close::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: 0.1rem;
  border-top: 0.16rem solid #777;
  border-left: 0.08rem solid transparent;
  border-right: 0.08rem solid transparent;
}
.triangle-open {
  display: flex;
  align-items: center;
}
.triangle-open::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: 0.1rem;
  border-bottom: 0.16rem solid #777;
  border-left: 0.08rem solid transparent;
  border-right: 0.08rem solid transparent;
}
.sms-send-btn {
  position: relative;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 0.24rem;
  color: #3388FF;
  padding: 0.2rem 0.24rem;
  min-width: 1.8rem;
}
.sms-send-btn::before {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  content: '';
  border: 1px solid #3388FF;
  transform: scale(0.5);
  transform-origin: 0 0;
}
.footer-btn {
  position: relative;
  height: 1.1rem;
  padding: 0.1rem 0.24rem;
  box-sizing: border-box;
  width: 100%;
  color: #FFF;
}
.footer-btn::before {
  position: absolute;
  height: 1px;
  right: 0;
  left: 0;
  top: 0;
  content: '';
  border-top: 1px solid #C7C7C7;
  transform: scaleY(0.5);
  transform-origin: 0 100%;
}
.footer-btn .btn {
  height: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #3388FF;
  font-size: 0.28rem;
}
.xh-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
  z-index: 2;
}
.xh-confirm,
.xh-alert {
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  width: 66%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 0.12rem;
}
.xh-dialog-title {
  position: relative;
  font-size: 0.32rem;
  font-weight: bold;
  text-align: center;
  padding: 0.16rem 0;
}
.xh-dialog-title::before {
  position: absolute;
  height: 1px;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  border-bottom: 1px solid #C7C7C7;
  transform: scaleY(0.5);
  transform-origin: 0 100%;
}
.xh-dialog-content {
  padding: 0.2rem 0.24rem;
  font-size: 0.28rem;
  color: #333;
  height: 2rem;
  box-sizing: border-box;
}
.xh-dialog-btn {
  position: relative;
  display: flex;
  font-size: 0.28rem;
}
.xh-dialog-btn::before {
  position: absolute;
  height: 1px;
  right: 0;
  left: 0;
  top: 0;
  content: '';
  border-top: 1px solid #C7C7C7;
  transform: scaleY(0.5);
  transform-origin: 0 100%;
}
.xh-dialog-btn .left,
.xh-dialog-btn .center,
.xh-dialog-btn .right {
  flex: 1;
  text-align: center;
  padding: 0.2rem 0.24rem;
  color: #666;
}
.xh-dialog-btn .center {
  color: #3388FF;
}
.xh-dialog-btn .left {
  position: relative;
  color: #3388FF;
}
.xh-dialog-btn .left::before {
  position: absolute;
  width: 1px;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  border-left: 1px solid #C7C7C7;
  transform: scaleX(0.5);
  transform-origin: 100% 0;
}
.xh-toast {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  opacity: 0.9;
  padding: 0.1rem 0.12rem;
  border-radius: 0.04rem;
  color: #fff;
  font-size: 0.24rem;
}
.draw-con-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.24rem;
  z-index: 3;
  background: #fff;
  border-radius: 0.24rem 0.24rem 0 0;
}
.draw-con-bottom .title {
  padding: 0.2rem 0.24rem;
  text-align: center;
  font-size: 0.4rem;
  color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.draw-con-bottom .title::before {
  position: absolute;
  height: 1px;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  border-bottom: 1px solid #C7C7C7;
  transform: scaleY(0.5);
  transform-origin: 0 100%;
}
.draw-con-bottom .title .close-btn {
  font-size: 0.44rem;
  position: relative;
  left: 2.7rem;
}
.draw-con-bottom .content {
  padding: 0.2rem 0.24rem;
  min-height: 4rem;
}
